<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список Альбомов</title>
</head>
<body>
<h1>Список Альбомов</h1>
<a th:href="@{/albums/new}">Добавить новый альбом</a>
<table>
    <tr>
        <th>Название</th>
        <th>Обложка</th>
        <th>Песни</th>
        <th>Действия</th>
    </tr>
    <tr th:each="album : ${albums}">
        <td th:text="${album.title}"></td>
        <td>
            <img th:src="@{'/cover/' + ${album.album_id}}" alt="Обложка альбома" style="width: 100px; height: auto;"/>
        </td>
        <td th:text="${#lists.size(album.songs)}">0</td> <!-- Отображаем количество песен в альбоме -->
        <td>
            <a th:href="@{/albums/{id}(id=${album.album_id})}">Просмотреть</a>
            <a th:href="@{/albums/delete/{delete_album_id}(delete_album_id=${album.album_id})}">Удалить</a>
        </td>
    </tr>
</table>
</body>
</html>
