<!DOCTYPE html>
<html>
<head>
    <title>Register and Login</title>
</head>
<body>

<h1>Login</h1>
<form id="loginForm">
    <label for="email">Email:</label>
    <input type="email" id="loginEmail" name="email" required><br>

    <label for="password">Password:</label>
    <input type="password" id="loginPassword" name="password" required><br>

    <button type="button" onclick="loginUser()">Login</button>
</form>

<p id="responseMessage"></p>

<script>
    // Функция для авторизации пользователя
    // Функция для авторизации пользователя
    function loginUser() {
        const data = {
            email: document.getElementById('loginEmail').value,
            password: document.getElementById('loginPassword').value,
        };

        fetch('http://localhost:8080/person/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data),
        })
            .then(response => {
                if (response.ok) {
                    return response.text(); // Считываем текстовый ответ
                } else {
                    return response.text().then(message => {
                        throw new Error(message); // Выводим ошибку в случае неудачи
                    });
                }
            })
            .then(token => {
                // Сохраняем токен в Local Storage
                localStorage.setItem('authToken', token);
                console.log('Token saved:', token);

                // Перенаправляем на главную страницу
                window.location.href = "http://localhost:8080/person/mainPage";
            })
            .catch(error => {
                // Отображаем сообщение об ошибке
                document.getElementById('responseMessage').innerText = error.message;
                console.error('Error:', error);
            });
    }
</script>

</body>
</html>
