<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Детали Песни</title>
</head>
<body>
<h1 th:text="${song.title}"></h1>
<p>Исполнитель: <span th:text="${song.artist}"></span></p>
<td>
    <audio controls>
        <source th:src="@{'/audio/' + ${song.id}}" type="audio/mpeg"> <!-- URL для аудиофайла -->
        Ваш браузер не поддерживает аудиоплеер.
    </audio>
</td>
<td>
    <img th:src="@{'/cover/' + ${song.id}}" alt="Обложка альбома" style="width: 100px; height: auto;"/>
</td>
<a href="/songs">Назад</a>
</body>
</html>
